<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-brand href="#">Card to List</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <router-link to="/">Link 1</router-link>
          <router-link to="/about">Link 2</router-link>
          <router-link to="/page3">Link 3</router-link>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
//import File from 'Path'
//import {mapGetters, mapActions} from 'vuex'
export default {
  name: "Navbar",
  data() {
    return {};
  },
  props: {},
  components: {},
  //computed: mapGetters(['']),
  methods: {
    //...mapActions([''])
  },
  mounted() {},
};
</script>

<style lang="scss"></style>
