<template>
  <div class="table-container">
    <b-table striped hover :items="getAllData" :fields="fields">
      <!-- <b-table striped hover :items="getAllData"> -->
      <template #cell(isChecked)="data">
        <input class="form-checkbox" type="checkbox" v-model="data.item.isChecked" @click="checkboxHandler" />
      </template>
      <template #cell(name)="data"> {{ data.item.name.first }} {{ data.item.name.last }} </template>
      <template #cell(datasets)="data"> {{ data.item.datasets.join(", ") }} </template>
      <template #cell(startTime)="data"> {{ data.item.secondaryTimeStamps.startTime }} </template>
      <template #cell(durationInSeconds)="data"> {{ data.item.secondaryTimeStamps.durationInSeconds }} </template>
      <template #cell(endTime)="data"> {{ data.item.secondaryTimeStamps.endTime }} </template>
      <template #cell(isAuthorized)="data">
        {{ data.item.isAuthorized ? "Authorized" : "Not Authorized" }}
      </template>
    </b-table>
  </div>
</template>

<script>
//import File from 'Path'
import { mapGetters } from "vuex";
export default {
  name: "Table",
  data() {
    return {
      fields: [
        { isChecked: "Active" },
        { name: "Customer Name" },
        { title: "Title" },
        { primaryTimestamp: "PTStamp" },
        { datasets: "Datatsets" },
        { startTime: "Start Time" },
        { durationInSeconds: "Duration(s)" },
        { endTime: "End Time" },
        { isAuthorized: "Authorization" },
      ],
    };
  },
  props: {},
  components: {},
  computed: mapGetters(["getAllData"]),
  methods: {
    //...mapActions([''])
    checkboxHandler() {},
  },
  mounted() {},
};
</script>

<style lang="scss">
.table-container {
  width: 100%;
}
th,
tr,
td {
  text-align: center;
}

.td-inner {
  width: 100%;
  height: 100%;
}
</style>
