<template>
  <div id="app" class="app">
    <Navbar />
    <div class="container-fluid">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "./components/UI/Navbar/Navbar.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "App",
  data() {
    return {};
  },
  props: {},
  components: {
    Navbar,
  },
  //computed: mapGetters(['']),
  methods: {
    ...mapActions(["getDataFromDB"]),
  },
  mounted() {},
  created() {
    this.getDataFromDB();
  },
};
</script>

<style lang="scss"></style>
