.full-height {
  height: 100%;
}

.mar {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
  &-5 {
    margin-top: 5rem;
  }
  &-6 {
    margin-top: 6rem;
  }
  &-7 {
    margin-top: 7rem;
  }
  &-8 {
    margin-top: 8rem;
  }
  &-9 {
    margin-top: 9rem;
  }
  &-10 {
    margin-top: 10rem;
  }
}
.mar-t {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
  &-5 {
    margin-top: 5rem;
  }
  &-6 {
    margin-top: 6rem;
  }
  &-7 {
    margin-top: 7rem;
  }
  &-8 {
    margin-top: 8rem;
  }
  &-9 {
    margin-top: 9rem;
  }
  &-10 {
    margin-top: 10rem;
  }
}
.mar-r {
  &-1 {
    margin-right: 1rem;
  }
  &-2 {
    margin-right: 2rem;
  }
  &-3 {
    margin-right: 3rem;
  }
  &-4 {
    margin-right: 4rem;
  }
  &-5 {
    margin-right: 5rem;
  }
  &-6 {
    margin-right: 6rem;
  }
  &-7 {
    margin-right: 7rem;
  }
  &-8 {
    margin-right: 8rem;
  }
  &-9 {
    margin-right: 9rem;
  }
  &-10 {
    margin-right: 10rem;
  }
}
.mar-b {
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
  &-3 {
    margin-bottom: 3rem;
  }
  &-4 {
    margin-bottom: 4rem;
  }
  &-5 {
    margin-bottom: 5rem;
  }
  &-6 {
    margin-bottom: 6rem;
  }
  &-7 {
    margin-bottom: 7rem;
  }
  &-8 {
    margin-bottom: 8rem;
  }
  &-9 {
    margin-bottom: 9rem;
  }
  &-10 {
    margin-bottom: 10rem;
  }
}
.mar-l {
  &-1 {
    margin-left: 1rem;
  }
  &-2 {
    margin-left: 2rem;
  }
  &-3 {
    margin-left: 3rem;
  }
  &-4 {
    margin-left: 4rem;
  }
  &-5 {
    margin-left: 5rem;
  }
  &-6 {
    margin-left: 6rem;
  }
  &-7 {
    margin-left: 7rem;
  }
  &-8 {
    margin-left: 8rem;
  }
  &-9 {
    margin-left: 9rem;
  }
  &-10 {
    margin-left: 10rem;
  }
}

// * Padding
.pad {
  &-1 {
    padding-top: 1rem;
  }
  &-2 {
    padding-top: 2rem;
  }
  &-3 {
    padding-top: 3rem;
  }
  &-4 {
    padding-top: 4rem;
  }
  &-5 {
    padding-top: 5rem;
  }
  &-6 {
    padding-top: 6rem;
  }
  &-7 {
    padding-top: 7rem;
  }
  &-8 {
    padding-top: 8rem;
  }
  &-9 {
    padding-top: 9rem;
  }
  &-10 {
    padding-top: 10rem;
  }
}
.pad-t {
  &-1 {
    padding-top: 1rem;
  }
  &-2 {
    padding-top: 2rem;
  }
  &-3 {
    padding-top: 3rem;
  }
  &-4 {
    padding-top: 4rem;
  }
  &-5 {
    padding-top: 5rem;
  }
  &-6 {
    padding-top: 6rem;
  }
  &-7 {
    padding-top: 7rem;
  }
  &-8 {
    padding-top: 8rem;
  }
  &-9 {
    padding-top: 9rem;
  }
  &-10 {
    padding-top: 10rem;
  }
}
.pad-r {
  &-1 {
    padding-right: 1rem;
  }
  &-2 {
    padding-right: 2rem;
  }
  &-3 {
    padding-right: 3rem;
  }
  &-4 {
    padding-right: 4rem;
  }
  &-5 {
    padding-right: 5rem;
  }
  &-6 {
    padding-right: 6rem;
  }
  &-7 {
    padding-right: 7rem;
  }
  &-8 {
    padding-right: 8rem;
  }
  &-9 {
    padding-right: 9rem;
  }
  &-10 {
    padding-right: 10rem;
  }
}
.pad-b {
  &-1 {
    padding-bottom: 1rem;
  }
  &-2 {
    padding-bottom: 2rem;
  }
  &-3 {
    padding-bottom: 3rem;
  }
  &-4 {
    padding-bottom: 4rem;
  }
  &-5 {
    padding-bottom: 5rem;
  }
  &-6 {
    padding-bottom: 6rem;
  }
  &-7 {
    padding-bottom: 7rem;
  }
  &-8 {
    padding-bottom: 8rem;
  }
  &-9 {
    padding-bottom: 9rem;
  }
  &-10 {
    padding-bottom: 10rem;
  }
}
.pad-l {
  &-1 {
    padding-left: 1rem;
  }
  &-2 {
    padding-left: 2rem;
  }
  &-3 {
    padding-left: 3rem;
  }
  &-4 {
    padding-left: 4rem;
  }
  &-5 {
    padding-left: 5rem;
  }
  &-6 {
    padding-left: 6rem;
  }
  &-7 {
    padding-left: 7rem;
  }
  &-8 {
    padding-left: 8rem;
  }
  &-9 {
    padding-left: 9rem;
  }
  &-10 {
    padding-left: 10rem;
  }
}
